body{
  background-color: #f4f2f5;
}
h1 {
  color: white;
  padding: 10px;
  font-weight:800 !important;
}

.box {
  max-width: 500px;
  margin: 50px auto;
  background:#212121;
  border-radius: 5px;
}
#heading {
  background-color:#212121;
  text-align: center;
}
.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 5px solid #F4f2f5;
}
p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: white;
  text-align: center;
}

form.item {
  text-align: center;
  padding-left: 20px;
}

button {
  min-height: 40px;
  width: 40px;
  background-color:#212121;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  
  height: 60px;
  top: 10px;
  border: none;
  padding: 10px;
  margin:0;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  color:white;
  outline: none;
}
::placeholder {
  color: white;
  opacity: 1;
}
